<?xml version="1.0" encoding="utf-8"?>
<module>
    <actions>
        <action name="dispIconshopIndex" type="view" standalone="true" index="true" />
        <action name="dispIconshopMyIcon" type="view" standalone="true" />
        <action name="dispIconshopIconSend" type="view" standalone="true" />
        <action name="dispIconshopMemberSearch" type="view" standalone="true" />

        <action name="procIconshopIconBuy" type="controller" standalone="true"  />
        <action name="procIconshopIconSend" type="controller" standalone="true"  />
        <action name="procIconshopIconSelected" type="controller" standalone="true"  />
        <action name="procIconshopIconSell" type="controller" standalone="true"  />
        <action name="procIconshopIconDelete" type="controller" standalone="true"  />

        <action name="dispIconshopAdminConfig" type="view" standalone="true" admin_index="true" />
        <action name="dispIconshopAdminAddConfig" type="view" standalone="true" />
        <action name="dispIconshopAdminSkinConfig" type="view" standalone="true" />
        <action name="dispIconshopAdminIconList" type="view" standalone="true" />
        <action name="dispIconshopAdminIconInsert" type="view" standalone="true" />
        <action name="dispIconshopAdminMemberIconList" type="view" standalone="true" />
        <action name="dispIconshopAdminMemberIconInsert" type="view" standalone="true" />
        <action name="dispIconshopAdminLogList" type="view" standalone="true" />
        <action name="dispIconshopAdminIconSearch" type="view" standalone="true" />

        <action name="procIconshopAdminConfig" type="controller" standalone="true"  />
        <action name="procIconshopAdminModuleInsert" type="controller" standalone="true"  />
        <action name="procIconshopAdminIconInsert" type="controller" standalone="true"  />
        <action name="procIconshopAdminIconDelete" type="controller" standalone="true"  />
        <action name="procIconshopAdminMemberIconInsert" type="controller" standalone="true"  />
        <action name="procIconshopAdminMemberIconDelete" type="controller" standalone="true"  />
        <action name="procIconshopAdminLogDelete" type="controller" standalone="true"  />
        <action name="procIconshopAdminLogReset" type="controller" standalone="true"  />
    </actions>
</module>
